html {
    font-size: 22px;  
}

body {
    background-color: #333;
    color: rgb(255, 255, 255);
    border-radius: 1em;
    padding: 1em;
    position: absolute;  
}
main {
    font-size: 80px;
    color: rgb(194, 233, 19);
    margin: 0.3em;
    padding: 0.1em;
    text-align: center;
}
article {
    font-size: 40px;
    color: rgb(190, 101, 42);
    margin-left: auto;
    margin-right: auto;
    width: 17em;
    padding: 0.1em;
    text-align: center;
}
section {
    font-size: 25px;
    color: rgb(233, 19, 144);
    padding: 0.3em;
    text-align: left;
    margin: 0.2em;
}
h1, h2 {
    font-size: 20px;
    color: rgb(102, 226, 149); 
    padding: 0.8em;
}

a {
    color: rgba(15, 136, 130);
    padding: 20px 30px;
    text-decoration: none;
}
.menu ul {
    display:flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 1 px solid;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(6, 41, 61);
    color: #fff;
    font-family: Helvetica, sans-serif;   
}
.header_section {
    display: flex;
    align-items: center;       
}
.header_item {
    padding: 7px 5px;
    font-size: 17px;
    margin-left: 2px;
}
.header_item:hover {
    background-color: blue;
    border-radius: 40px;
}
.headerlogo {
    font-weight: bold;
    font-size: 30px;
}
.header_Button {
    cursor: pointer;
}
.footer_item {
    display: flex;
    align-items: center;
    background-color: aqua;
    border-radius: 20px;
    text-align: center;
    color: rgb(226, 17, 17);
    font-size: 15px;
    
}
footer {
   background-color: yellow;   
}